<div class="columns m-4">
    <div class="column">
        <section class="box content">
            <h1>Profile</h1>
            <p></p>
            <h4>Name</h4>
            <p>{{name}}</p>
            <h4>Age</h4>
            <p>{{userAge}}</p>
            <h4>Gender</h4>
            <p>{{isMale}}</p>
            <h4>Height</h4>
            <p>{{userHeight}}</p>
            <h4>Weight</h4>
            <p>{{userWeight}}</p>
            <h4>Exercise Level</h4>
            <p>{{userAct}}</p>
            {{!-- <h3>Daily Calories Target: <strong>{{cal.daily_cal}}</strong></h3> --}}

            
            
        </section>
    </div>
    <div class="column">
        <div id="fruitstand-img"></div>
    </div>

    </div>
    